@page "/Account/Login"
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Logging
@using NutritionTracker.Infrastructure.Identity
@using NutritionTracker.Web.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>

<h1>Log in</h1>
<div >
    <div >
        <section>
            <StatusMessage Message="@errorMessage"/>
            <EditForm Model="@Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator/>
                <h2>Use a local account to log in.</h2>
                <hr/>
                <ValidationSummary role="alert"/>
                <div class="pd-v-1">
                    <label>
                        Email
                        <InputText class="input-primary" @bind-Value="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                    </label>
                    <ValidationMessage For="() => Input.Email"/>
                </div>
                <div>
                    <label>
                        Password
                        <InputText class="input-primary" type="password" @bind-Value="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password"/>
                    </label>
                    <ValidationMessage For="() => Input.Password"/>
                </div>
                <div >
                    <label >
                        Remember me
                        <InputCheckbox @bind-Value="Input.RememberMe"/>
                    </label>
                </div>
                <div>
                    <button class="button-primary" type="submit">Log in</button>
                </div>
                <div>
                    <p>
                        <a href="Account/ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Register as a new user</a>
                    </p>
                    <p>
                        <a href="Account/ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </EditForm>
        </section>
    </div>
    <div >
        <section>
            <h3>Use another service to log in.</h3>
            <hr/>
            <ExternalLoginPicker/>
        </section>
    </div>
</div>