.body {
}
.button-primary {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #3B82F6;

    :hover {
        background-color: #1D4ED8;
    }
}


.input-primary {
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border-width: 1px;
    width: 100%;
    line-height: 1.25;
    color: #374151;
    appearance: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

    :hover {
        border-color: #6B7280;
    }
}

.padding-1 {
    padding: 1rem;
}