@page "/recipes"
@using MediatR
@using NutritionTracker.Application.FoodItems
@using NutritionTracker.Domain.FoodItems.Dtos
@inject IMediator Mediator;
<PageTitle>Recipes</PageTitle>
<h1>Recipes</h1>
<NavLink href="/fooditems/create" class="nav-link">Create</NavLink>
@foreach (var item in Items)
{
    <p>@item.ProductName</p>
}