@inherits LayoutComponentBase

<div >
    <header >
        <NavMenu/>
    </header>

    <main>
        <article >
            @Body
        </article>
    </main>
    <footer>
        This is a footer
    </footer>
</div>
