@inherits LayoutComponentBase

<header class="pd-h-1">
    <NavMenu/>
</header>

<main class="pd-h-1">
    <article >
        @Body
    </article>
</main>
<footer class="pd-h-1">
    This is a footer
</footer>