@implements IDisposable

@inject NavigationManager NavigationManager

<nav class="flex flex-row space-between h-full">
    <div >
        <NavLink href="" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Home
        </NavLink>
    </div>

    <div >
        <NavLink href="diary">
            <span aria-hidden="true"></span> Diary
        </NavLink>
    </div>
    <div >
        <NavLink href="fooditems">
            <span aria-hidden="true"></span> FoodItems
        </NavLink>
    </div>
    <div >
        <NavLink href="recipes">
            <span aria-hidden="true"></span> Recipes
        </NavLink>
    </div>

    <div >
        <NavLink href="auth">
            <span aria-hidden="true"></span> Auth Required
        </NavLink>
    </div>

    <AuthorizeView>
        <Authorized>
            <div >
                <NavLink href="Account/Manage">
                    <span aria-hidden="true"></span> @context.User.Identity?.Name
                </NavLink>
            </div>
            <div >
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken/>
                    <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                    <button type="submit" class="button-primary">
                        <span aria-hidden="true"></span> Logout
                    </button>
                </form>
            </div>
        </Authorized>
        <NotAuthorized>
            <div >
                <NavLink href="Account/Register">
                    <span aria-hidden="true"></span> Register
                </NavLink>
            </div>
            <div >
                <NavLink href="Account/Login">
                    <span aria-hidden="true"></span> Login
                </NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</nav>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}