@implements IDisposable

@inject NavigationManager NavigationManager

<div >
    <div >
        <a href="">Nutrition Tracker</a>
    </div>
</div>

<div >
    <nav >
        <div >
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div >
            <NavLink href="counter">
                <span aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div >
            <NavLink href="weather">
                <span aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div >
            <NavLink href="Diary">
                <span aria-hidden="true"></span> Diary
            </NavLink>
        </div>
        <div >
            <NavLink href="fooditems">
                <span aria-hidden="true"></span> FoodItems
            </NavLink>
        </div>
        <div >
            <NavLink href="recipes">
                <span aria-hidden="true"></span> Recipes
            </NavLink>
        </div>

        <div >
            <NavLink href="auth">
                <span aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div >
                    <NavLink href="Account/Manage">
                        <span aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div >
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                        <button type="submit">
                            <span aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div >
                    <NavLink href="Account/Register">
                        <span aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div >
                    <NavLink href="Account/Login">
                        <span aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}