@page "/fooditems"
@using MediatR
@using NutritionTracker.Application.FoodItems
@using NutritionTracker.Domain.FoodItems.Dtos
@inject IMediator Mediator;
<PageTitle>Fooditems</PageTitle>
<h1>FoodItems</h1>
<NavLink href="/fooditems/create" class="nav-link">Create</NavLink>
@foreach (var item in Items)
{
    <p>@item.ProductName</p>
}

@code {
    public FoodItemDto[] Items { get; set; } = Array.Empty<FoodItemDto>();

    protected override async Task OnInitializedAsync()
    {
        var getFoodItemsResult = await Mediator.Send(new GetFoodItems.Request());
        if (getFoodItemsResult.IsSuccess)
        {
            Items = getFoodItemsResult.Value;
        }

        await base.OnInitializedAsync();
    }

}