@page "/fooditems"
@rendermode InteractiveServer
<PageTitle>Fooditems</PageTitle>
<h1>FoodItems</h1>
<NavLink href="/fooditems/create" class="nav-link">Create</NavLink>
<InputText @bind-Value="SearchTerm"></InputText>
@if (FilteredItems is not null)
{
    @foreach (var item in FilteredItems)
    {
        <p>@item.ProductName - @item.Owner</p>
    }
}