@page "/Account/Manage/Email"
@using Microsoft.AspNetCore.Identity
@using NutritionTracker.Infrastructure.Identity
@using NutritionTracker.Web.Identity

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject IdentityUserAccessor UserAccessor
@inject NavigationManager NavigationManager

<PageTitle>Manage email</PageTitle>

<h3>Manage email</h3>

<StatusMessage Message="@message"/>
<div >
    <div >
        <form @onsubmit="OnSendEmailVerificationAsync" @formname="send-verification" id="send-verification-form" method="post">
            <AntiforgeryToken/>
        </form>
        <EditForm Model="Input" FormName="change-email" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator/>
            <ValidationSummary role="alert"/>
            @if (isEmailConfirmed)
            {
                <div >
                    <input type="text" value="@email" placeholder="Please enter your email." disabled/>
                    <div >
                        <span >✓</span>
                    </div>
                    <label for="email">Email</label>
                </div>
            }
            else
            {
                <div >
                    <input type="text" value="@email" placeholder="Please enter your email." disabled/>
                    <label for="email">Email</label>
                    <button type="submit" form="send-verification-form">Send verification email</button>
                </div>
            }
            <div >
                <InputText @bind-Value="Input.NewEmail" autocomplete="email" aria-required="true" placeholder="Please enter new email."/>
                <label for="new-email">New email</label>
                <ValidationMessage For="() => Input.NewEmail"/>
            </div>
            <button type="submit">Change email</button>
        </EditForm>
    </div>
</div>