@page "/Account/Manage"
@using Microsoft.AspNetCore.Identity
@using NutritionTracker.Infrastructure.Identity
@using NutritionTracker.Web.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage/>

<div>
    <div>
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator/>
            <ValidationSummary role="alert"/>
            <div>
                <label>Username
                    <input type="text" value="@username" placeholder="Please choose your username." disabled class="input-primary"/>
                </label>
            </div>
            <div>
                <label>Phone number
                    <InputText @bind-Value="Input.PhoneNumber" placeholder="Please enter your phone number."
                               class="input-primary"/>
                </label>
                <ValidationMessage For="() => Input.PhoneNumber"/>
            </div>
            <button type="submit" class="button-primary">Save</button>
        </EditForm>
    </div>
</div>