@page "/Account/Manage/SetPassword"
@using Microsoft.AspNetCore.Identity
@using NutritionTracker.Infrastructure.Identity
@using NutritionTracker.Web.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Set password</PageTitle>

<h3>Set your password</h3>
<StatusMessage Message="@message"/>
<p >
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<div >
    <div >
        <EditForm Model="Input" FormName="set-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator/>
            <ValidationSummary role="alert"/>
            <div >
                <InputText type="password" @bind-Value="Input.NewPassword" autocomplete="new-password" placeholder="Please enter your new password."/>
                <label for="new-password">New password</label>
                <ValidationMessage For="() => Input.NewPassword"/>
            </div>
            <div >
                <InputText type="password" @bind-Value="Input.ConfirmPassword" autocomplete="new-password" placeholder="Please confirm your new password."/>
                <label for="confirm-password">Confirm password</label>
                <ValidationMessage For="() => Input.ConfirmPassword"/>
            </div>
            <button type="submit">Set password</button>
        </EditForm>
    </div>
</div>