@inherits LayoutComponentBase
<button @attributes="AdditionalAttributes">
    @ChildContent
</button>

@code {
    [Parameter] 
    public RenderFragment ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string _classes = "btn btn-lg btn-primary";

    protected override void OnInitialized()
    {
        if (AdditionalAttributes is not null)
        {
            if (AdditionalAttributes.ContainsKey("class"))
            {
                AdditionalAttributes["class"] += (" " + _classes);
            }
        }

    }

}