@page "/diary"
@rendermode InteractiveServer

<PageTitle>Diary</PageTitle>
<h1>Diary</h1>
<NavLink href="/fooditems/create" class="nav-link">Create</NavLink>
<p>@Day.Date</p>
<InputDate @bind-Value="SelectedDate"></InputDate>
<button @onclick="Hello" class="btn btn-primary">This is a button</button>