@page "/diary"
@rendermode InteractiveServer

<PageTitle>Diary</PageTitle>
<h1>Diary</h1>
<div class="flex flex-row space-between">
    <div>
        <button @onclick="DecrementDay">←</button>
        <InputDate Value="@SelectedDate" ValueChanged="async (DateOnly d) => await SetDate(d)"
                   ValueExpression="() => SelectedDate"></InputDate>
        <button @onclick="IncrementDay">→</button>
    </div>
    <button class="button-primary" @onclick="AddMeal">Add meal</button>
</div>
@foreach (var meal in Day.Meals)
{
    <p>@meal.SequenceNumber</p>
}