@page "/diary"
@rendermode InteractiveServer

<PageTitle>Diary</PageTitle>
<h1>Diary</h1>
<NavLink href="/fooditems/create">Create</NavLink>
<p>@Day.Date</p>
<InputDate @bind-Value="SelectedDate"></InputDate>
<button @onclick="Hello">This is a button</button>