@page "/diary"
@rendermode InteractiveServer

<PageTitle>Diary</PageTitle>
<h1>Diary</h1>
<div class="flex flex-row space-between">
    <div class="flex flex-row">
        <button @onclick="DecrementDay" class="button-primary">←</button>
        <div>
            <InputDate Value="@SelectedDate" ValueChanged="async (DateOnly d) => await SetDate(d)"
                       ValueExpression="() => SelectedDate" class="input-primary"></InputDate>
        </div>
        <button @onclick="IncrementDay" class="button-primary">→</button>
    </div>
    <button class="button-primary" @onclick="AddMeal">Add meal</button>
</div>
@foreach (var meal in Day.Meals)
{
    <p>@meal.MealTitle</p>
}