@using Microsoft.AspNetCore.Identity
@using NutritionTracker.Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager

<ul >
    <li >
        <NavLink href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
    </li>
    <li >
        <NavLink href="Account/Manage/Email">Email</NavLink>
    </li>
    <li >
        <NavLink href="Account/Manage/ChangePassword">Password</NavLink>
    </li>
    @if (hasExternalLogins)
    {
        <li >
            <NavLink href="Account/Manage/ExternalLogins">External logins</NavLink>
        </li>
    }
    <li >
        <NavLink href="Account/Manage/TwoFactorAuthentication">Two-factor authentication</NavLink>
    </li>
    <li >
        <NavLink href="Account/Manage/PersonalData">Personal data</NavLink>
    </li>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }

}