@inherits LayoutComponentBase
@layout AccountLayout

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr/>
    <div >
        <div >
            <ManageNavMenu/>
        </div>
        <div >
            @Body
        </div>
    </div>
</div>