name: Go

on: 
  workflow_call:
    inputs: 
      upload-artifact:
        default: false
        type: boolean

jobs:
  build:
    name: "Build and test"
    defaults:
      run:
        working-directory: "./api/"

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        cache-dependency-path: api/go.sum
        go-version-file: api/go.mod

    - name: Go
      uses: "./.github/actions/go-build"
      with: 
        working-directory: "./api"

    - name: Store artifact
      if: inputs.upload-artifact
      uses: actions/upload-artifact@v4
      with:
        name: "api"
        path: "./api/bin"


