name: Publish

on:
  workflow_call:
    secrets:
      KNOWN_HOSTS:
        required: true
      SSH_KEY:
        required: true
      SSH_HOST:
        required: true
      SSH_USERNAME:
        required: true



jobs:
  build-publish:
    name: "Build and Publish"

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    
    - name: Setup SSH
      uses: "./.github/actions/ssh"
      with:
        known-hosts: ${{secrets.KNOWN_HOSTS}}
        ssh-key: ${{secrets.SSH_KEY}}
        host: ${{secrets.SSH_HOST}}
        user: ${{secrets.SSH_USERNAME}}

    - name: Vue artifact
      uses: actions/download-artifact@v7
      with:
        name: "client"
        path: "./static"

    - name: Go artifact
      uses: actions/download-artifact@v7
      with:
        name: "api"
        path: "./bin"

    - name: Make binary executable
      run: chmod +x ./bin/nutrition-tracker

    - name: Copy frontend dist to output dir
      run: cp -R ./static bin/static

    - name: Remove previous version
      run: ssh ${{ secrets.SSH_HOST }} rm -r nutrition-tracker

    - name: Transfer
      run: |
        rsync -r bin/ ${{ secrets.SSH_HOST }}:nutrition-tracker/
      shell: bash

    - name: SHA
      run: |
        echo ${{ github.event.pull_request.head.sha }} > commit-hash.txt
        rsync commit-hash.txt ${{ secrets.SSH_HOST }}:nt-commit-hash.txt
      shell: bash
